<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Document</title>
    <style>
        body{
            font-family: 'Open Sans', sans-serif;
            color: #333333 !important;
        }
     p{
         margin: 0;
     }
    </style>
</head>

<body link="#00a5b5" vlink="#00a5b5" alink="#00a5b5">

    <table class=" main contenttable" align="center" style="font-weight: normal;border-collapse: collapse;border: 0;margin-left: auto;margin-right: auto;padding: 0; color: #555559;background-color: white;font-size: 16px;line-height: 26px;width: 800px;">
            <tr>
                <td class="border" style="border-collapse: collapse;border: 1px solid #eeeff0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559; font-size: 16px;line-height: 26px;">
                    <table style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0; width: 100%;" >
                      <tr>
                        <td><div style="background: #00c865;
                            width: 800px; height: 2px;"></div></td>
                      </tr>
                      <tr>
                            <td colspan="4" valign="top" class="image-section" style="border-collapse: collapse;border: 0;margin: 0;padding: 0; padding-top: 46px; padding-left: 86px;">
                                <!-- <svg width="86" height="70" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 92.1114C19 89.9579 20.3788 88.0463 22.4223 87.3668L62.3682 74.0836L61.2187 123.617L25.2689 133.05C22.0994 133.881 19 131.49 19 128.213V92.1114Z" fill="#FF4440"/>
                                    <path d="M62.2636 74.0836L172.585 37.6346C176.184 36.4457 179.745 39.536 179.075 43.2659L170.461 91.2367C170.119 93.1416 168.708 94.6779 166.839 95.1811L61.2186 123.617L62.2636 74.0836Z" fill="#00C865"/>
                                    <path d="M61.2186 123.199L111.379 109.823L107.343 152.489C107.134 154.701 105.49 156.51 103.307 156.928L67.1604 163.861C64.0775 164.452 61.2186 162.089 61.2186 158.95V123.199Z" fill="#FF9A28"/>
                                    </svg> -->
                                    <img  width="170" height="50" src="https://oyetest.com/assets/images/new_logo_full.png"></img>
                            </td>
                        </tr>
                        <table style="font-weight: normal; border-collapse: collapse;border: 0;margin: 0;padding: 0; width: 100%;">
                            <tr>
                                <td class="text" style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559; padding-left: 86px;">
                                <div class="mktEditable">
                                    <!-- <h2 style="font-size:26px">Invited to join the Oyetest</h2> -->
                                    <br/>
                                    <div style="margin-top: 27px;">
                                        <p style="margin-bottom: 20px;">You are recently invited on Oyetest, please join <a href="{LINK}" target="_blank">{LINK}</a></p>
                                        <a href="{LINK}" style="
                                        background: #27AE60;
                                        color: #fff;
                                        text-decoration: none;
                                        padding: 10px 30px;
                                        border-radius: 4px;">Join Now</a>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 44px 50px 20px 50px;">
                                    <div style="padding:0 50px;
                                            background: #00c865;
                                            height: 2px;"></div>
                                            <div style="padding-left: 36px; padding-top: 20px;">
                                                <p style="margin-bottom: 5px;">Thanks,</p>
                                        <p style="margin-bottom: 5px;">Oyetest Team</p>
                                        <p style="margin-bottom: 5px;">contact@oyetest.com</p>
                                            </div>
                                </td>
                            </tr>
                        </table>					
                    </table>
                </td>
            </tr>
        </table>
      </body>
</html>